@model sshBackend1.Models.Pastry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pastry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastryType.PastryTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shop.ShopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PastryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
