@model sshBackend1.Models.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestSecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestSecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestStatus.GuestStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Table.TableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
